@import "mocha.css";
* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.1s;
    border-radius: 8;
}

#workspaces button {
    font-size: 20px;
    border-radius: 10px;
}

#workspaces button.active {
    font-size: 20px;
   /* background-color: @mauve;*/
    color: @mauve;   
}

#window {
    margin-left: 10px;
}

#custom-shortcuts,
#custom-launcher,
#custom-weather,
#pulseaudio,
#clock,
#battery,
#backlight,
#temperature,
#wireplumber,
#network,
#mode,
#scratchpad,
#idle_inhibitor,
#custom-vpn,
#custom-exit {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}


#clock {
    background-color: @sapphire;
    color: @crust;
}

#pulseaudio {
    background-color: @blue;
    color: @crust;
}

#backlight {
    background-color: @yellow;
    color: @crust;
}

#battery {
    background-color: @green;
    color: @crust;
}

#network {
    background-color: @yellow;
    color: @crust;
}

#idle_inhibitor {
    background-color: #7cb342;
    color: @crust;
}

#idle_inhibitor.activated {
    background-color: @red;
    color: @white;
}

#custom-shortcuts {
    padding-left: 0px;
    padding-right: 0px;
    background-color: @flamingo;
    color: @crust;
}

#custom-vpn {
    background-color: @lavender;
    color: @crust;
}

#custom-weather {
    background-color: @maroon;
    color: @crust;
}

#custom-exit {
    padding-left: 10px;
    padding-right: 14px;
    margin-right: 10px;
    background-color: @red;
    color: @crust;
}

#custom-launcher {
    color: @crust;
    font-size: 20px;
    background-image: url("/home/shadow/.config/waybar/fastfetch_arch_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-style: hidden;
}

#cpu,
#memory,
#disk {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    color: @white; 
    font-size: 14px;
    

}
#cpu {
    margin-left: 4px;
    border-bottom: 1px solid @white;
    border-bottom-left-radius: 10px;

    border-top: 1px solid @white;
    border-top-left-radius: 10px;

    border-left: 1px solid @white;
}
#memory {
    border-bottom: 1px solid @white;

    border-top: 1px solid @white;
}
#disk {
    margin-right: 4px;
    border-bottom: 1px solid @white;
    border-bottom-right-radius: 10px;

    border-top: 1px solid @white;
    border-top-right-radius: 10px;

    border-right: 1px solid @white;
}


#tray{
    padding: 2px 4px;       
    margin-top: 6px;      
    margin-bottom: 6px;
    margin-right: 4px;
    margin-left: 4px;
    border: 1px solid @white;
    border-radius: 10px;
}

