@import "mocha.css";
* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.1s;
}

#workspaces button {
    border-radius: 10px;
}

#workspaces button.active {
    background-color: @mauve;
    color: @crust;   
}

#window {
    margin-left: 10px;
}

#custom-shortcuts,
#custom-launcher,
#custom-weather,
#pulseaudio,
#clock,
#battery,
#backlight,
#temperature,
#wireplumber,
#network,
#mode,
#scratchpad,
#idle_inhibitor,
#custom-vpn,
#custom-exit {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px; 
    color: #ffffff; 
}


#clock {
    background-color: @sapphire;
    color: #11111b; /* dark text for bright background */
}

#pulseaudio {
    background-color: @blue;
    color: #11111b;
}

#backlight {
    background-color: @yellow;
    color: #11111b;
}

#battery {
    background-color: @green;
    color: #11111b;
}

#network {
    background-color: @yellow;
    color: #11111b;
}

#idle_inhibitor {
    background-color: #7cb342;
    color: #11111b;
}

#idle_inhibitor.activated {
    background-color: @red;
    color: #ffffff;
}

#custom-shortcuts {
    padding-left: 0px;
    padding-right: 0px;
    background-color: @flamingo;
    color: #11111b;
}

#custom-vpn {
    background-color: @lavender;
    color: #11111b;
}

#custom-weather {
    background-color: @text;
    color: #11111b;
}

#custom-exit {
    padding-left: 10px;
    padding-right: 14px;
    background-color: @red;
    color: #11111b;
}

#custom-launcher {
    color: #11111b;
    font-size: 20px;
    background-image: url("/home/shadow/.config/waybar/fastfetch_arch_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-style: hidden;
}

#cpu,
#memory,
#disk {
    padding: 4px;
    font-size: 14px;
    color: #ffffff;
}
#cpu {
    border-bottom: 2px solid @overlay2;
    border-bottom-left-radius: 10px;

    border-top: 2px solid @overlay2;
    border-top-left-radius: 10px;

    border-left: 2px solid @overlay2;
}
#memory {
    border-bottom: 2px solid @overlay2;

    border-top: 2px solid @overlay2;
}
#disk {
    border-bottom: 2px solid @overlay2;
    border-bottom-right-radius: 10px;

    border-top: 2px solid @overlay2;
    border-top-right-radius: 10px;

    border-right: 2px solid @overlay2;
}



#cpu,
#memory,
#disk{
    padding: 2px 4px;     /* Reduced vertical/horizontal padding */
    font-size: 10px;      /* Smaller font size */
    margin-top: 3px;      /* Optional: tighten spacing */
    margin-bottom: 3px;
}
